
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
html * {
    font-family: "VT323", system-ui;
    text-transform: uppercase;
}

.canvas-background{
    background: linear-gradient(180deg, rgba(28,12,102,1) 0%, rgba(8,1,43,1) 100%);
}

button{
    display: flex;
    border: none;
    border-radius: 0;
    background: #d8d8d8;
    cursor: pointer;
    &:hover{
        outline: 2px solid #252525;
    }
}


#entity-list{
    .item{
        display: flex;
        flex-flow: column;
        .header{
            display: flex;
            justify-content: space-between;
            padding: 2px 0 2px 4px;

            .buttons{
                display: flex;
                button{
                    margin-left: 4px;
                    width: 1rem;
                    height: 1rem;
                }
            }

            .name{
                width: 100%;
                position: relative;
                cursor: pointer;
                &:hover{                
                    &::before{
                        content: url("data:image/svg+xml,%3Csvg viewBox='0 0 12.7 12.7' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(169.33 -118.75)'%3E%3Cpath d='m-166.16 119.28v11.641h1.0588v-1.0588h1.0583v-1.0584h1.0588v-1.0578h1.0578v-1e-3h5.3e-4v-1.0563h-5.3e-4v-1e-3h5.3e-4v1e-3h1.0588v-1.0588h-1e-3v-5.3e-4h1e-3v5.3e-4h1.0563v-1.0583c-0.35256 5.2e-4 -0.70428-5.3e-4 -1.0563-5.3e-4v-1.0583h-1.0588v-1.0583h-1.0584v-1.0589h-1.0588v-1.0583h-1.0583v-1.0568z' solid-color='rgb(0,0,0)' font-feature-settings='normal' font-variant-alternates='normal' font-variant-caps='normal' font-variant-ligatures='normal' font-variant-numeric='normal' font-variant-position='normal' isolation='auto' mix-blend-mode='normal' paint-order='normal' shape-padding='0' text-decoration-color='rgb(0,0,0)' text-decoration-line='none' text-decoration-style='solid' text-indent='0' text-orientation='mixed' text-transform='none' white-space='normal'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");                    position: absolute;
                        fill: black;
                        width: 12px;
                        pointer-events: none;
                        left: -16px;
                    }
                }
            }
        }
        .submenu{
            background: rgba(0,0,0,0.075);
        }

        &.active{
            >.header{
                position: relative;
                &::before{
                    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 12.7 12.7' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(169.33 -118.75)'%3E%3Cpath d='m-166.16 119.28v11.641h1.0588v-1.0588h1.0583v-1.0584h1.0588v-1.0578h1.0578v-1e-3h5.3e-4v-1.0563h-5.3e-4v-1e-3h5.3e-4v1e-3h1.0588v-1.0588h-1e-3v-5.3e-4h1e-3v5.3e-4h1.0563v-1.0583c-0.35256 5.2e-4 -0.70428-5.3e-4 -1.0563-5.3e-4v-1.0583h-1.0588v-1.0583h-1.0584v-1.0589h-1.0588v-1.0583h-1.0583v-1.0568z' solid-color='rgb(0,0,0)' font-feature-settings='normal' font-variant-alternates='normal' font-variant-caps='normal' font-variant-ligatures='normal' font-variant-numeric='normal' font-variant-position='normal' isolation='auto' mix-blend-mode='normal' paint-order='normal' shape-padding='0' text-decoration-color='rgb(0,0,0)' text-decoration-line='none' text-decoration-style='solid' text-indent='0' text-orientation='mixed' text-transform='none' white-space='normal'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");                    position: absolute;
                    fill: black;
                    width: 12px;
                    pointer-events: none;
                    left: -12px;
                }
            }
        }
    }
}

.controls-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;

    hr{
        margin: 1rem 0;
        border-top: 2px dashed #d8d8d8;
        border-bottom: none;
    }
}

.modal-wrapper{
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(black, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.control-box{
    padding: 1rem;
    width: 300px;
    margin: 2rem;
    background: #efefef;

    .title{
        text-align: center;
        padding: 2px;
        border-bottom: 2px solid #252525;
        position: relative;
        .buttons{
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .control-item {
        margin-top: 4px;
        display: flex;
        flex-flow: column;
    
        label {
            display: flex;
    
            input[type="checkbox"] {
                + label{
                    cursor: pointer;
                }
                
                /* removing default appearance */
                -webkit-appearance: none;
                appearance: none;
                /* creating a custom design */
                width: 1rem;
                height: 1rem;
                background: #d8d8d8;
                display: block;
                margin-right: 4px;
                position: relative;
                cursor: pointer;

                &.checked {
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        left: 5px;
                        top: 1px;
                        width: 4px;
                        height: 8px;
                        border: solid #252525;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                      }
                }
            }
    
            // .checkmark {
            //     width: 1rem;
            //     height: 1rem;
            //     background: #d8d8d8;
            //     display: block;
            //     margin-right: 4px;
            //     position: relative;
    
                // &:after {
                //     content: "";
                //     position: absolute;
                //     opacity: 0;
                //     left: 5px;
                //     top: 1px;
                //     width: 4px;
                //     height: 8px;
                //     border: solid #252525;
                //     border-width: 0 3px 3px 0;
                //     -webkit-transform: rotate(45deg);
                //     -ms-transform: rotate(45deg);
                //     transform: rotate(45deg);
                // }
            // }
    
            // &:hover {
            //     .checkmark {
            //         outline: 2px solid #252525;
            //     }
            // }
        }
    
        input {
            margin: 0;
        }
    
        &.row {
            flex-flow: row;
        }
    }
    
}

.horizontal-slider{
    margin-top: 8px;
    margin-bottom: 4px;
    transform: translateX(4px);
    .thumb{
        min-width: 14px;
        height: 14px;
        background: #d8d8d8;
        transform: translate(-25%, -50%);
        text-align: center;
        font-size: 12px;
        padding: 1px;
        &.active{
            border: none;
            outline: none;
            background: #d8d8d8;
            border: 2px solid #252525;
        }
    }
    .track{
        background: #d8d8d8;
        height: 2px;
        transform: translate(-4px, 0);
    }
    .mark{
        background: #b2b2b250;
        height: 8px;
        width: 2px;
    
        transform: translate(0, -3px);
    }
}

.github-picker{
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

input[type=color]{
    border: none;
    width: 100%;
    padding: 0;
    height: 1rem;
    margin: 4px 0 2px 0 !important;
}


input[type=text]{
    outline: none;
    border: none;
    width: 100%;
    padding: 2px;
    height: 1rem;
    margin: 4px 0 2px 0 !important;
    &:active, &:focus{
        outline: 2px solid #252525;
    }
}

.add-celestial{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  margin-top: 8px;

  button{
    padding: 8px;
    aspect-ratio: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    .icon{ 
        display: flex;
        height: 100%;
        aspect-ratio: 1;
        align-items: center;
        justify-content: center;
        svg{
            width: 4rem;
            display: block;
        }
    }
  }
}